
.split {
    &__content {
        padding: {
            left: 10rem;
            bottom: 6rem;
        };
    }

    &__centre {
        display: flex;
        align-items: center;
    }

    &__heading {
        font: {
            size: 2.8rem;
        }
        line-height: 1.6;
        margin: {
            top: 2rem;
            bottom: 1rem;
        };
    }

    &__paragraph {
        margin: {
            top: 3rem;
            bottom: 5rem;
        };
    }

    &__bkg {
        // max-width: 70% !important;
        margin-top: -20px;
        margin-left: -40px;
        width: 371px;
    }
}