
$colour-black: #2c2c4b;
$colour-purple: #7e57ff;
$colour-blue: #3898EC;
$colour-bkg-skyblue: #f6f9fc;

$text-colour-1: #2c2c4b;
$text-white: #ffffff;
$text-green: #0be881;

$font-family: "Gilroy", san-serif;

$nav-font: 1.6rem;
$text-font : 1.8rem;
$primary-font: 7rem;
$Secondary_font: 5.2rem;
$tertiary-font: 4rem;
$tertiary-font-small: 2.4rem;

$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;