
.max-width{
    padding: 1.5rem;
    margin: 0 auto;
    max-width: 120rem;
    position: relative;
}

.text-centre {
    text-align: center;
}

.w-row {
    // max-width: 120rem;
    // margin: 0 auto;
}

.clearFix::before {
    clear: both;
    content: "";
    zoom: 1;
}

.col {
    width: 66.6666667%;
}

.block {
    height: 40px;
}

